* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    font-family: Inter, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px 20px;
}

.title {
    font-size: 3rem;
    margin-top: 0;
}

.component--title {
    font-family: "Permanent Marker", sans-serif;
}

