button {
    background-color: #F3F4F6;
    color: #1F2937;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 24px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    margin-right: 30px;
    cursor: pointer;
    width: 10%;
}

button:focus {
    outline: none;
}

/* COLORS */
button.button-red {
    color: #991B1B;
    background-color: #FEE2E2;
}

button.button-yellow {
    color: #92400E;
    background-color: #FEF3C7;
}

button.button-green {
    color: #065F46;
    background-color: #D1FAE5;
}

button.button-blue {
    color: #1E40AF;
    background-color: #DBEAFE;
}

button.button-indigo {
    color: #3730A3;
    background-color: #E0E7FF;
}

button.button-purple {
    color: #5B21B6;
    background-color: #EDE9FE;
}

button.button-pink {
    color: #9D174D;
    background-color: #FCE7F3;
}

/* for PILL button type */
.button-pill {
    border-radius: 25px;
}


/*
button:focus {
    outline: none;
}

button.button-sm {
    padding: 7px 11px;
    font-size: 12px;
}

button.button-lg {
    padding: 13px 25px;
}
*/
